html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////*/

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

#page-wraper{
    display: flex;
}

#navbar{
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 35rem;
    max-height: 100vh;
    border-right: solid grey 2px;
    font-family: 'Roboto', sans-serif;
}
#navbar h1{
    font-size:2.6rem;
    text-align: center;
    padding:2rem 0rem;
    font-weight: 900;
    border-bottom: solid black 1px;
}

#navbar ul{
    font-size: 1.8rem;
    font-weight: 300;
    overflow-y: scroll;
}
#navbar li{
    border-bottom: solid black 1px;
}
 #navbar a{
     padding:1.7rem 0rem 1.7rem 2rem;
     display: block;
    text-decoration: none;
    color:black;
 }

 #navbar a:hover{
     transition: 600ms;
     background-color: black;
     color: white;
 }

 main{
     font-family: 'Roboto', sans-serif;
     line-height: 2rem;
     font-size: 1.4rem;
     max-height: 100vh;
     width: 100%;
     overflow: auto;
     overflow-x: hidden;
 }

 .chapter h1{
     margin: 4rem 4rem;
     font-size: 3.3rem;

 }

 .chapter p{
     font-size: 1.5rem;
     margin: 2rem 6rem 2rem 6rem;
 }

 .chapter ul{
     margin-left:9rem;
     list-style: disc;
 }
 .chapter li{
     margin: 1.5rem 3.5rem 1.5rem 0;
     font-size: 1.5rem;
 }

 code{
     display: block;
     display: flex;
     align-items: center;
     text-align: left;
     white-space: normal;
     word-wrap: normal;
     word-break: normal;
     background-color: rgb(228, 228, 228);
     margin:1.5rem 0rem 1.5rem 0rem;
     border-radius:5px;
     min-height: 5rem;
     width: 100%;
     padding-left: 3rem;

 }

 @media (max-width: 900px)
{
    #page-wraper{
        display:flex;
        flex-direction:column;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100vw;
        height: 50vh;
        border-right: solid grey 2px;
        overflow-y: scroll;
        font-family: 'Roboto', sans-serif;
    }

    #navbar ul{
        border: solid 3px grey;
    } 

    main{
        font-family: 'Roboto', sans-serif;
        line-height: 2rem;
        font-size: 1.4rem;
        height: 100%;
        overflow: visible;
    }
    code{
        white-space: normal;
        
    }
   

}